@model BootstrapPagerModel

@if (Model.Pager.TotalPages > 1)
{
    <nav class="mt-2">
        <ul class="pagination justify-content-center">
            <li class="@Model.getFirstCss()">
                <a class="page-link" href="@Model.GetFirstUrl()" tabindex="-1">首页</a>
            </li>
            <li class="@Model.getPreviousCss()">
                <a class="page-link" href="@Model.getPreviousUrl()" tabindex="-1">上一页</a>
            </li>
            @for (int i = Model.Pager.StartPage; i <= Model.Pager.EndPage; i++)
            {
                <li class="@Model.GetCss(i)">
                    <a class="page-link" href="@Model.GetUrl(i)" tabindex="-1">@i</a>
                </li>
            }
            <li class="@Model.GetNextCss()">
                <a class="page-link" href="@Model.GetNextUrl()" tabindex="-1">下一页</a>
            </li>
            <li class="@Model.GetLastCss()">
                <a class="page-link" href="@Model.GetLastUrl()" tabindex="-1">尾页</a>
            </li>
        </ul>
    </nav>
}